h1,
h2 {
  font-size: 24px;
  padding-left: 65px;
}

.container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrapper {
  background-color: #3f3f3f;
  color: #939aa9;
  margin-top: 40px;
  border-radius: 12px;
  text-align: left;
}

.header-details {
  padding-left: 70px;
  font-size: 20px;
  list-style-type: none;
  line-height: 30px;
  text-transform: capitalize;
}

.all-info {
  margin-top: 20px;
  padding-top: 17px;
}

.temperature {
  text-align: center;
  vertical-align: top;
  padding-left: 100px;
}

.number {
  font-size: 64px;
  vertical-align: top;
}

.degree {
  font-size: 64px;
  vertical-align: top;  
}

.details {
  font-size: 12px;
  padding-left: 100px;
  position: relative;
  top: 20px;
}

.current {
  font-size: 72px;
  padding-top: 17px;
  padding-left: 50px;
}

.next-days {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
}

.first {
  padding-left: 50px;
}

.last {
  padding-right: 70px;
}

.fa-sun {
  font-size: 24px;
}

.search-bar {
  margin-left: 75px;
  padding-top: 40px;
  padding-right: 50px;
  text-align: right;
}

.both-metrics {
  font-size: 14px;
  vertical-align: top;
  position: relative;
  top: 20px;
}

.footer {
    font-size: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#city {
  font-size: 30px;
}